body {
  background-color: black;
  color: white;
}

section {
  margin: 2%;
  padding: 20px;
  border-radius: 25px;
  background-color: rgb(51, 51, 51);
}

header {
  margin: 5px;
}

.form {
  background-image: url("../images/bg/bg1.jpg");
  background-size: contain;
}

.section-comments {
  margin-left: 15%;
  margin-right: 15%;
}

.container-form {
  transition: background-color ease-in 120ms;
  padding: 25px;
  border: solid 2px;
  border-radius: 20px;
  border-color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.55);
}

.container-form:hover {
  background-color: rgba(0,0,0,0.75);
}

.label-username {
  padding-left: 55px;
}

.btn-submit {
  background-color: rgb(63, 35, 165);
}

.btn-submit:hover {
  background-color: rgb(68, 34, 190);
}

.profile-img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
  margin: 10px;
}

.icn-menu {
  padding: 5px;
  color: rgb(190, 190, 190);
}

.icn-dropdown {
  padding-left: 10px;
  padding-right: 10px; 
  margin-left: 10px;
  color: #888;
}

.icn-alert {
  padding-right: 10px;
}

.dropdown-menu .dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu .dropdown-item:hover .icn-dropdown {
  color: #fff;
}

.username-email {
  color: #888;
  font-size: 17px;
  padding: 10px;
}

#alertPlaceholder {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050;
  max-width: 50%;
}